body {
  margin: 0;
  font-family: 'Pixelify Sans', sans-serif;
  color: #ffffff;
  min-height: 100vh; 
}

.navbar {
  background-color: #ffc729; 
  padding: 20px 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  white-space: nowrap;
  overflow-x: auto;
}

.navbar a {
  color: #3c5169;
  text-decoration: none;
  font-size: 20px;
  flex-shrink: 1;
  font-weight: 700;
  letter-spacing: 1px;
}

.top-banner {
  width: 100%;
  height: auto;
  display: block;
}
.content {
  padding: 40px;
  padding-top: 20px;  
  background: linear-gradient(#546d8e, #709ad1);
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: #ffc729;
}
a:hover {
  text-decoration: underline;
}
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 12px;
    padding: 10px 0;
  }

  .navbar a {
    font-size: 18px;
  }

  .content {
    padding: 20px;
  }

  h1 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
  }
}
.btn {
  display: inline-block;
  padding: 50px 100px;  /* bigger padding = bigger button */
  font-size: 3rem;   /* larger text = bigger button */
  background: #709ad1;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}


.btn:hover {
  background: #ffc729;
}
